body{
    margin: 0;
}
#navbar {
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    border: 2px solid teal;
    justify-content: space-between;
    background-color: teal;
}
a{
    color: white;
}
#options {
    display: flex;
    gap: 20px;
}
#src {
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    margin-top: 10px;
    height: 50px;
    background-color: rgb(209, 200, 218);
}
#btn {
    width: 50px;
    height: 100%;
    margin-left: 5px;
    border: none;
    background: none;
    border-radius: 20px;
    font-size: 35px;
    font-weight: 200;
    border: 1px solid black;

}
#search{
    width: 280px;
    font-size: 25px;
    border-radius: 15px;
    text-align: center;
}
/* .fas{
    font-size: 48px;
    color: blue;
    border-radius: 10px;
} */


#showMeal {
    display: grid;
    grid-template-columns: repeat(3,420px);
    gap: 10px;
    background-color: bisque;
    margin-top: 15px;
    padding-left: 2%;
    padding-right: 2%;

}

#search_meal {
    display: grid;
    grid-template-columns: repeat(3,410px);
    gap: 10px;
    background-color: bisque;
    margin-top: 15px;
    padding-left: 2%;
    padding-right: 2%;

}
#image_meal {
    width: 70%;
    height: 25%;
    padding: 2%;
}

#day {
    display: inline;
    margin: 0;
    width: 250px;
    /* padding-left: 10px;
    padding-right: 10px; */
    /* height: 5%; */
    /* border: 1px solid black; */
} 

/* #day > image_meal {
    width: 20%;
} */